div {
	width: 100px;
	height: 100px;
	position: absolute;
}

doboz1 {
	background-color: blue;
	z-index: 100px;
}

doboz2 {
	background-color: red;
	left: 50px;
	top: 50px;
}

doboz3 {
	background-color: green;
	left: 100px;
}
